[telnIRC]
host=127.0.0.1:6667
nick=telnIRC
user=telnirc
cap=yes
password=
logfile=buffer.log
tls=no
tls_certfile=telnirc.crt
tls_keyfile=telnirc.key

[telnERV]
host=127.0.0.1:4400
numeric=49
password=passwd
server_name=telnerv.undernet.org
logfile=buffer.log
tls=no
tls_certfile=telnirc.crt
tls_keyfile=telnirc.key
